@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-top: 90px;
}
main {
    max-width: 1200px;
    margin: auto;
    background-color: #ffffff;
}
p {
    text-align: justify;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}