@charset "UTF-8";

/*Cabaçario*/
.header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(255, 237, 188);
}
.header ul {
    display: flex;
}
.header ul li {
    margin: 10px 25px;
}

/*SOBRE*/
.desenvolvimento-web {
    display: flex;
}
@media (max-width: 768px) {
    .desenvolvimento-web {
        flex-wrap: wrap;
    }
}

.desenvolvimento-web .descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.desenvolvimento-web .descricao h1 {
    text-align: center;
}
.desenvolvimento-web .descricao p {
    text-align: justify;
    margin: 10px 15px;
}
.desenvolvimento-web .descricao a {
    margin: 0px 15px;
}

.desenvolvimento-web #botao-curriculo {
    margin: 15px 15px;
}


.desenvolvimento-web .habilidades {
    text-align: center;
    margin: 10px auto;
}
.desenvolvimento-web .habilidades #foto-de-perfil {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: solid 4px #ffd940;
    border-radius: 50%;
}
.habilidades .linguagens-de-programacao img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}
.desenvolvimento-web .habilidades a {
    display: block;
    margin: 30px 0px;
}

.sobre p {
    margin: 15px;
}
/*PROJETOS*/
.projetos {
    display: flex;
    flex-wrap: wrap;
}
.cartoes-projetos {
    border: solid #000000 2px;
    width: 280px;
    height: 415px;
    margin: 15px auto;
}
.cartoes-projetos img {
    width: 100%;
    height: 210px;
    border-bottom: solid #000000 1px;
}