@charset "UTF-8";

/*Cabaçario*/
.header {
    width: 100%;
    height: 90px;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #fffda5ca;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu .logo {
    font-size: 24px;
}

.menu .logo a {
    color: #000000;
    font-weight: 600;
}

.menu-lista ul {
    display: flex;
}

.menu-lista ul li {
    margin: 15px 30px;
}

.menu-lista ul a {
    color: #000000;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.menu-lista ul a:hover {
    background-color: #fffb00;
}

.mobile-menu-icone button {
    display: none;
} 

.mobile-menu-icone img {
    width: 30px;
    height: 30px;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width:768px) {
    .menu-lista {
        display: none;
    }

    .mobile-menu-icone button {
        display: block;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    .mobile-menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100vw;
        height: 90vh;
        background-color: #ffffffc7;
    }
    .mobile-menu ul li {
        margin: 25px;
        padding: 10px 15px;
        height: 38px;
        border-radius: 10px;
        background-color: #fffb00;
    }
    .open {
        display: block;
    }
}


h1, h2, h3 {
    text-align: center;
}

/*SOBRE*/
.desenvolvimento-web {
    display: flex;
}
@media screen and (max-width: 768px) {
    .desenvolvimento-web {
        flex-wrap: wrap;
    }
}

.desenvolvimento-web .descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.desenvolvimento-web .descricao h1 {
    text-align: center;
}
.desenvolvimento-web .descricao p {
    text-align: justify;
    margin: 10px 15px;
}
.desenvolvimento-web .descricao a {
    margin: 0px 15px;
}

.desenvolvimento-web #botao-curriculo {
    margin: 15px 15px;
}


.desenvolvimento-web .habilidades {
    text-align: center;
    margin: 30px auto;
}
.desenvolvimento-web .habilidades #foto-de-perfil {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: solid 4px #ffd940;
    border-radius: 50%;
}
.habilidades .linguagens-de-programacao img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}
.desenvolvimento-web .habilidades a {
    display: block;
    margin: 30px 0px;
}

.sobre p {
    margin: 15px;
}
/*PROJETOS*/
.projetos {
    display: flex;
    flex-wrap: wrap;
}
.cartoes-projetos {
    border: solid #000000 2px;
    width: 250px;
    height: 340px;
    margin: 15px auto;
}
.cartoes-projetos img {
    width: 100%;
    height: 210px;
    border-bottom: solid #000000 1px;
}
.contatos img {
    width: 100%;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #ccc;
}

.footer p {
    text-align: center;
}