@charset "UTF-8";

/*Cabaçario*/
.header {
    width: 100%;
    height: 90px;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu .logo a {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;

}

.menu-lista ul {
    display: flex;
}

.menu-lista ul a {
    color: #ffffff;
    padding: 8px 10px;
    margin: 15px 30px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.menu-lista ul a:hover {
    color: #000000;
    background-color: #ffff00;
}

.mobile-menu-icone button {
    display: none;
} 

.mobile-menu {
    display: none;
}

@media screen and (max-width:768px) {
    .menu-lista {
        display: none;
    }

    .mobile-menu-icone button {
        display: block;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    .mobile-menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100vw;
        height: 90vh;
        background-color: #ffffffc7;
    }
    .mobile-menu ul a {
        margin: 25px;
        padding: 10px 15px;
        border-radius: 10px;
        height: 38px;
        color: #fff;
        background-color: #000000;
        font-family: Arial, Helvetica, sans-serif;
    }
    .mobile-menu ul a:hover {
        color: #000000;
        background-color: #ffff00;
    }
    .open {
        display: block;
    }
}

p {
    font-family: Arial, Helvetica, sans-serif;
}
/*SOBRE*/
.desenvolvimento-web {
    display: flex;
}
@media screen and (max-width: 768px) {
    .desenvolvimento-web {
        flex-wrap: wrap;
    }
}

.desenvolvimento-web .descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.desenvolvimento-web .descricao h1 {
    text-align: center;
    margin: 20px 10px;
}
.desenvolvimento-web .descricao p {
    text-align: justify;
    margin: 10px 15px;
}

.icones-redes-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.icones-redes-social img {
    margin: 5px 15px;
}

.desenvolvimento-web #botao-curriculo {
    padding: 15px 5px;
    border: none;
    margin: 0 40px;
    background-color: #000000;
    border: solid 2px #dcb000;
}
.desenvolvimento-web #botao-curriculo:hover {
    background-color: #fff;
    color: #000000;
    border: solid 3px #dcb000;
}
.desenvolvimento-web #botao-curriculo a {
    color: #dcb000;
    font-weight: 800;
}
.desenvolvimento-web #botao-curriculo a:hover {
    color: #dcb000;
}


.desenvolvimento-web .habilidades {
    text-align: center;
    margin: 30px auto;
}
.desenvolvimento-web .habilidades #foto-de-perfil {
    margin: 15px 5px;
    border: solid 4px #ffd940;
    border-radius: 50%;
}
.habilidades .linguagens-de-programacao img {
    border-radius: 15px;
}
.desenvolvimento-web .habilidades a {
    display: block;
    margin: 30px 0px;
    color: #000433;
}
.desenvolvimento-web .habilidades a:hover {
    color: #dcb000;
}

/*SOBRE*/
.sobre {
    background-color: #000000;
    color: #bfbfbf;
    border-radius: 20px;
    margin: 10px;
    padding: 30px 0px;
}
.sobre h2 {
    text-align: center;
    margin: 20px 10px;
}

.sobre p {
    margin: 25px;
}

/*PROJETOS*/
.projetos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.projetos h2 {
    display: block;
    text-align: center;
    width: 100%;
    margin: 20px 10px;
}
.cartoes-projetos {
    border: solid #000000 2px;
    border-radius: 15px;
    width: 250px;
    height: 340px;
    margin: 15px auto;
}
.cartoes-projetos img {
    width: 100%;
    height: 210px;
    border-bottom: solid #000000 1px;
    border-radius: 15px;
}
/*LINGUAGENS*/
.linguagens-do-cartao {
    margin: 5px;
    font-size: 0.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botao-html {
    background-color: rgb(255, 113, 61);
    padding: 5px;
    border-radius: 10px;
}
.botao-css {
    background-color: rgb(0, 174, 255);
    padding: 5px;
    border-radius: 10px;
}
.botao-javascript {
    background-color: rgb(238, 246, 0);
    padding: 5px;
    border-radius: 10px;
}
.scroll-do-cartao {
    height: 85px;
    margin-top: 10px;
    overflow-y: scroll;
}
.scroll-do-cartao::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
    background-color: #626262;
}
.cartoes-projetos p {
    text-align: justify;
    padding: 10px;
}

/*CONTATOS*/
.contatos h2 {
    text-align: center;
    margin: 25px 10px;
}
.contatos .banner-contatos {
    width: 100%;
    height: 100px;
}

.contatos div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contatos address {
    font-size: 1.1rem;
    margin: 30px;
}

.contatos address a:visited {
    color: #000000;
}

.contatos address a,
.contatos address img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Rodapé*/
.footer {
    background-color: #000000;
}

.footer p {
    padding: 30px 10px;
    text-align: center;
    color: #fff;
}